<html>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<head>
    <meta charset="utf-8">

    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="book-controller.js"></script>
    <script src="category-controller.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

    </style>
</head>

<body>
<div class="container-fluid">
    <div ng-app="shelf" ng-controller="shelfController" ng-init="listAll()">
        <h1>
            <center>我的书架</center>
        </h1>

        <table class="table  table-hover">
            <thead>
            <td style="display: none">id</td>
            <td>Subject</td>
            <td>Description</td>
            <td>ISBN</td>
            <td>Author</td>
            <td>Category</td>
            <td>Publisher</td>
            <td>Last Access Date</td>
            <td>Number Of Access</td>
            <td>操作</td>
            </thead>
            <tr ng-repeat="x in shelfList" ng-click="alert('wq')">
                <td style="display: none">{{x.id}}</td>
                <td>{{x.book.subject}}</td>
                <td>{{x.book.description}}</td>
                <td>{{x.book.isbn}}</td>
                <td>{{x.book.author}}</td>
                <td>{{x.book.category}}</td>
                <td>{{x.book.publisher}}</td>
                <td>{{x.lastAccessDate}}</td>
                <td>{{x.numberOfAccess}}</td>
                <td>
                    <a class="btn btn-sm btn-primary" role="button" ng-click="read(x.id)">阅读</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
<!--<script type="text/javascript">-->
<!--    //  var inputFile = document.getElementById('bookFile');-->
<!--    //  console.log(inputFile.value);-->
<!--    //  inputFile.onchange = function (){-->
<!--    //      var that = this;-->
<!--    //      var file = that.files.item(0);-->
<!--    //      console.log(file);-->
<!--    //     // console.log(file.getAsDataURL());-->
<!--    //      var src = window.URL.createObjectURL(that.files[0])-->
<!--    //      console.log("src"+src);-->
<!--    //  }-->
<!--    // // function uploadFile(aa){-->
<!--    // //    var file = document.getElementById('bookFile');-->
<!--    // //    console.log(aa.val);-->
<!--    // //    console.log(event);-->
<!--    // //  }-->

<!--    //根据不同浏览器获取路径-->
<!--    let bookForm = document.getElementById("addBookForm");-->
<!--    bookForm.onsubmit = function () {-->
<!--        var formData = new FormData();-->
<!--    };-->


<!--</script>-->

</script>
</html>